@import '../generals/universals.css';


/* CONTACT ME MANILA LABEL */
.ABOUTME_pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100px + var(--ABOUTME-primary-rectangle-height) + 74px);
  min-height: 100vh;
  overflow: auto;
}

.ABOUTME_aboutMeSign {
  display: flex;
  flex-direction: column;
  padding: 10px;

  position: absolute;
  top: 66px;
  left: 90px;
  width: auto;

  color: var(--my-red);
  background-color: var(--my-yellow);
  border-radius: 10px;

  font-family: var(--font-script);
  font-weight: bold;
  letter-spacing: var(--font-script-ls);

  z-index: 1;
}

.ABOUTME_title {
  font-size: 40px;
} .ABOUTME_subtitle {
  font-size: 20px;
  padding-left: 30px;
} .ABOUTME_title, .ABOUTME_subtitle {
  margin: 0;
}


/* GREEN BACKGROUND */
.ABOUTME_primaryRectangle {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 74px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--my-green);
  border: none;
  border-radius: 10px;
  padding: 55px 0;

  color: white;
  font-family: var(--font-news-cycle);
  letter-spacing: var(--font-news-cycle-ls);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.ABOUTME_bold {
  font-weight: 500;
}

.ABOUTME_tempImage {
  width: 400px;
  height: 400px;
  background-color: var(--my-yellow);
  flex-shrink: 0;
}



/* TEXT & IMAGE */
@media (max-width: 1100px) {
  .ABOUTME_imageAndTextWrapper {
    width: 850px !important;
  }
}

@media (min-width: 1101px) and (max-width: 1399px) {
  .ABOUTME_imageAndTextWrapper {
    width: calc(850px + (1000 - 850) * ((100vw - 1100px) / (1400 - 1100))) !important;
  }
}

@media (min-width: 1400px) {
  .ABOUTME_imageAndTextWrapper {
    width: 1000px !important;
  }
}


.ABOUTME_imageAndTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
} 
.ABOUTME_introParagraph {
  flex-shrink: 0;
}


.ABOUTME_longerParagraph {
  width: 935px;
}

/* .ABOUTME_transitionLine {
  padding: 40px;
} */



/* BUTTONS */
.ABOUTME_insideButton {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
  transition: all 0.3s ease;
} .ABOUTME_insideButton:hover {
  opacity: 0.7;
} .ABOUTME_insideButton:active {
  transform: scale(0.95);
}

#aboutMe a {
  color: white;
}