@import '../generals/universals.css';

/* CONTACT ME MANILA LABEL */
.CONTACTME_pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100px + var(--CONTACTME-primary-rectangle-height) + 74px);
  min-height: 100vh;
  overflow: auto;
}

.CONTACTME_contactMeSign {
  display: flex;
  flex-direction: column;
  padding: 10px;

  position: absolute;
  top: 66px;
  left: 90px;
  width: auto;

  background-color: var(--my-green);
  border-radius: 10px;

  font-family: var(--font-script);
  font-weight: bold;
  letter-spacing: var(--font-script-ls);

  z-index: 1;
}

.CONTACTME_title {
  font-size: 40px;
}

.CONTACTME_subtitle {
  font-size: 20px;
  padding-left: 30px;
}

.CONTACTME_title, 
.CONTACTME_subtitle {
  margin: 0;
}

/* BEIGE BACKGROUND */
.CONTACTME_primaryRectangle {
  flex: 1;
  flex-grow: 1;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 74px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--my-beige);
  border: none;
  border-radius: 10px;
  padding: 55px 0;
  color: black;
  box-sizing: border-box;
  min-height: 588px;
}

/* MANAGING INPUT CONTAINERS */
.CONTACTME_inputContainer {
  position: relative;
  /* transform: translateY(calc(-1vw * 0.5 + 20px)); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* background-color: purple; */
  top: 17px;
}

.CONTACTME_inputBoxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  font-family: var(--font-news-cycle);
  font-size: 18px;
  letter-spacing: var(--font-news-cycle-ls);
  font-weight: semibold;

  gap: 6px;
}

/* MANAGING THE PAGE'S INPUT CONTENT */
.CONTACTME_inputBox, 
.CONTACTME_messageBox {
  width: 600px;
  min-height: 28px;
  padding: 5px;
  overflow: hidden;

  background-color: var(--my-beige);
  border: solid;
  border-color: var(--my-darker-grey);
  border-width: 1.5px;
  border-radius: 8px;

  font-family: var(--font-news-cycle);
  font-size: 17px;
  letter-spacing: var(--font-news-cycle-ls);
}

.CONTACTME_inputBox:focus {
  border-color: var(--my-green);
  outline: none;
}

.CONTACTME_inputBox.error, 
.CONTACTME_messageBox.error {
  border: 1.5px solid var(--my-red);
  border-radius: 8px;
}

.CONTACTME_inputBox.error::placeholder,
.CONTACTME_messageBox.error::placeholder {
  color: var(--my-red);
}

.CONTACTME_messageBox {
  height: 175px;
  max-height: none;
  resize: none;
}

/* ADD ARROW BUTTON FUNCTIONALITY */
.CONTACTME_submitButton {
  position: relative;
  overflow: hidden;
  height: 43px;
  width: 115px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  padding-top: 2.3px;
  background-color: var(--my-beige);
  border: 1.5px solid var(--my-darker-grey);
  border-radius: 8px;
  font-family: var(--font-computer);
  font-size: 20px;
  color: black;
  line-height: 2;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.CONTACTME_submitButton::before {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;

  background-image: url('../images/arrow.png');
  background-size: 22px auto;
  width: 23px;
  height: 16px;
  display: block;
}

.CONTACTME_submitButton:hover {
  padding-right: 22px;
}

.CONTACTME_submitButton:hover::before {
  right: 9px;
  opacity: 1;
}

.CONTACTME_submitButton:active {
  transform: scale(0.95);
}

.CONTACTME_thankYouMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 476px;

  color: black;
  font-family: var(--font-script);
  letter-spacing: var(--font-script-ls);
}

.CONTACTME_thankYouMessage h2, h3 {
  margin: 10px;
}