@import '../generals/universals.css';

/* TECHNICAL SKILLS MANILA LABEL */
.TECHSKILLS_pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: calc(100px + var(--CONTACTME-primary-rectangle-height) + 74px); */
  min-height: 100vh;
  overflow: auto;
}

.TECHSKILLS_contactMeSign {
  display: flex;
  flex-direction: column;
  padding: 10px;

  position: absolute;
  top: 66px;
  left: 90px;
  width: auto;

  background-color: var(--my-blue);
  border-radius: 10px;

  color: white;
  font-family: var(--font-script);
  font-weight: bold;
  letter-spacing: var(--font-script-ls);

  z-index: 1;
}

.TECHSKILLS_title {
  font-size: 40px;
}

.TECHSKILLS_subtitle {
  font-size: 20px;
  padding-left: 30px;
}

.TECHSKILLS_title, 
.TECHSKILLS_subtitle {
  margin: 0;
}

/* RED BACKGROUND */
.TECHSKILLS_primaryRectangle {
  flex: 1;
  flex-grow: 1;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 74px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--my-red);
  border: none;
  border-radius: 10px;
  padding: 55px 0;
  color: black;
  box-sizing: border-box;
  min-height: 593px;
  font-family: var(--font-news-cycle);
  letter-spacing: var(--font-news-cycle-ls);
}



/* SEARCH BOX + FUNCTIONALITY */
.TECHSKILLS_searchContainer {
  position: absolute;
  top: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

.TECHSKILLS_searchTitleAndBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.TECHSKILLS_searchTitle {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--font-script);
  letter-spacing: var(--font-script-ls);
  margin-top: 1px;
}

.TITLEPAGE_whiteSearchIconPNG {
  position: absolute;
  right: 15px;
  width: 34px;
  height: 34px;
}

.TECHSKILLS_actualSearchBox {
  width: 510px;
  height: 28px;
  padding: 5px;
  overflow: hidden;

  background-color: var(--my-darker-red);
  border: solid;
  border-color: white;
  border-width: 1.5px;
  border-radius: 8px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);

  color: white;
  font-size: 17px;
}

.TECHSKILLS_actualSearchBox:focus {
  border-color: white;
  outline: none;
}

.TECHSKILLS_suggestionBox {
  position: relative;
  top: 15px;
  left: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  width: 520px;
  overflow-x: hidden;
}
 .TECHSKILLS_suggestionBox p {
  margin: 0px;
  margin-bottom: 5px;
}

.TECHSKILLS_suggestionButton {
  background-color: var(--my-grey);
  padding: 8px 9px;
  border-radius: 6px;

  color: black;
  font-size: 15px;
  font-weight: 100;

  text-align: center;
  white-space: nowrap;

  border: none;
  transition: all 0.3s ease-in-out;
}

.TECHSKILLS_suggestionButton:hover,
.TECHSKILLS_suggestionButton:active {
  transform: scale(0.95);
}

.TECHSKILLS_suggestionButton.clicked { 
  transform: scale(0.95);
  opacity: 0.5;
}


/* .TECHSKILLS_searchResult {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 155px;
  left: 99px;
  margin: -30px;
  border-radius: 8px;
} */






/* WRITTEN SKILLS AT THE BOTTOM */
.TECHSKILLS_writtenSkills {
  position: absolute;
  top: 490px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  gap: 75px;
}

.TECHSKILLS_someFamiliarity,
.TECHSKILLS_knowledgeable,
.TECHSKILLS_proficient {
  width: 200px;
}

.TECHSKILLS_someFamiliarityTitle,
.TECHSKILLS_knowledgeableTitle,
.TECHSKILLS_proficientTitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -10px;
}

.TECHSKILLS_someFamiliaritySkills,
.TECHSKILLS_knowledgeableSkills,
.TECHSKILLS_proficientSkills {
  font-size: 16px;
}




/* FOR THE GREY HIGHLIGHT BOXES */
.greyBox {
  position: absolute;
  top: 495px;
  width: 210px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0) scale(1); /* Start at scale 1 */
  border-radius: 8px;
  background-color: #d3d3d3;
  opacity: 0;
  pointer-events: none;
}

.greyBox.show {
  opacity: 0.6;
  pointer-events: auto;
  transform: scale(1);
  animation: scaleUpAndDown 1.2s forwards;
}

/* .greyBox.show:hover {
  transform: scale(0.95);
} */

@keyframes scaleUpAndDown {
  0% {
    transform: translate(-50%, 0) scale(0.95);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0) scale(1.02);
    opacity: 0.45;
  }
  100% {
    transform: translate(-50%, 0) scale(1);
    opacity: 0.6;
  }
}


/* .greyBox.hide {
  background-color: blue !important;
  border: 2px solid yellow !important;
  animation: scaleOut 1s forwards;
  pointer-events: none;
} */


.proficientBox {
  left: calc(50% + 267px);
} .knowledgeableBox {
  left: calc(50% - 6px);
} .familiarBox {
  left: calc(50% - 282px);
}